doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui')
    
    script(src='/javascripts/build/vendor.js')
    script(src='/javascripts/build/mixer.js')
    script(src='/javascripts/src/GlRenderer.js')
    script(src='/javascripts/src/modules/Mixer.js')
    script(src='/javascripts/src/modules/Monitor.js')
    script(src='/javascripts/src/sources/VideoSource.js')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/remotes/videotracker_remote.css')

  body
    
    header      
      input#bpm_display(type="number", value="128")
      button(onClick="updatebpm()") TAP
      button(onClick="reset()") RESET
      |
      button(onClick="is_playing = !is_playing") PLAY/PAUSE
    
    #page1_player.tracker_grid_container.selected

      #previews
                  
        #master_previews  
          canvas#glcanvas          
          
        #channel_previews
          - for(var j=1; j <= 8; j++)
            canvas.small(id="monitoring_canvas_"+j) 
            .disabled-sign
        
      #instruments.scrollable
        table
      
      #sheets
            
      #tracker
        table.header
          tr
            th 
            th 
              | channel 1
              |
              input#channel1_mute(type="checkbox")
              
            th 
              | channel 2
              |
              input#channel2_mute(type="checkbox")

            th 
              | channel 3
              |
              input#channel3_mute(type="checkbox")
            
            th 
              | channel 4
              |
              input#channel4_mute(type="checkbox")
              
            th 
              | channel 5
              |
              input#channel5_mute(type="checkbox")
              
            th 
              | channel 6
              |
              input#channel6_mute(type="checkbox")
              
            th 
              | channel 7
              |
              input#channel7_mute(type="checkbox")
              
            th 
              | channel 8
              |
              input#channel8_mute(type="checkbox")

        #main_table
          #highlight
          table          
            - for(var row=0; row < 64; row++)
              - var klass = (row%4 == 0 ? 'highlight_beat' : '')
                tr(class="track_row " + klass)
                  td.mono.trnum= row
                  - for(var col=0; col < 8; col++)
                    td.mono.cell(data-row=row, data-col=col, data-rowcol=row+","+col)
                      .trigger_cell
                        span.index
                        span.opacity
                        span.cue
                        span.effect
                        span.effect_extra
            tr
              td


    #page2_instrument.instrument_grid_container
      .cuelist
        .cue-container.cue#cue-1
          .cue-still
            canvas#cue-still-canvas
          .cue-in 15.2
          .cue-out 8.1

        .cue-container.cue#cue-2
          .cue-still
            canvas#cue-still-canvas
          .cue-in 15.2
          .cue-out 8.1

      .main
        .container
          video#instrument_video(controls)
            
      .preview
        h1.title Hier komt de titel
        p
          button#tracker_back Back
          
      .cueeditor
        canvas#cue_canvas
          
// -----------------------------------------------------------------------------
// add remote javascript
script(src='/javascripts/remotes/videotracker_remote.js')
include ../partials/analytics
