doctype html
html
  head
    title VMX :: Remote Controller
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui')
    
    script(src='/javascripts/build/vendor.js')
    script(src='/javascripts/build/mixer.js')
    script(src='/javascripts/src/GlRenderer.js')
    script(src='/javascripts/src/modules/Mixer.js')
    script(src='/javascripts/src/modules/Monitor.js')
    script(src='/javascripts/src/sources/VideoSource.js')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/remotes/videotracker_remote.css')

  body
    
    header      
      input#bpm_display(type="number", value="128")
      button(onClick="updatebpm()") TAP
      button(onClick="reset()") RESET
      |
      button(onClick="is_playing = !is_playing") PLAY/PAUSE
      button(onClick="import_sheet()") IMPORT
      button(onClick="export_sheet()") SAVE
      button(onClick="window.open('/remotes/videotracker_preview', ' VMX :: preview', 'popup')") Preview
      button(onClick="fill_values( clear_data );" ) Clear
      
    
    #page1_player.tracker_grid_container.selected

      #previews
                  
        #master_previews  
          canvas#glcanvas          
          
        #channel_previews
          - for(var j=1; j <= 8; j++)
            canvas.small(id="monitoring_canvas_"+j) 
            .disabled-sign
        
      #instruments.scrollable
        table
      
      #sheets
        .sheets_container
          .sheet#sheet_1
          .sheet#sheet_2
          .sheet#sheet_3
          button add sheet
              
      #tracker
        table.header
          tr
            th 
            th 
              | channel 1
              |
              input#channel1_mute(type="checkbox")
              
            th 
              | channel 2
              |
              input#channel2_mute(type="checkbox")

            th 
              | channel 3
              |
              input#channel3_mute(type="checkbox")
            
            th 
              | channel 4
              |
              input#channel4_mute(type="checkbox")
              
            th 
              | channel 5
              |
              input#channel5_mute(type="checkbox")
              
            th 
              | channel 6
              |
              input#channel6_mute(type="checkbox")
              
            th 
              | channel 7
              |
              input#channel7_mute(type="checkbox")
              
            th 
              | channel 8
              |
              input#channel8_mute(type="checkbox")

        #main_table
          #highlight
          table          
            - for(var row=0; row < 64; row++)
              - var klass = (row%4 == 0 ? 'highlight_beat' : '')
                tr(class="track_row " + klass)
                  td.mono.trnum= row
                  - for(var col=0; col < 8; col++)
                    td.mono.cell(data-row=row, data-col=col, data-rowcol=row+","+col)
                      .trigger_cell
                        span.note
                        span.index
                        span.opacity
                        span.cue
                        span.effect
                        span.effect_extra
            tr
              td


    #page2_instrument.instrument_grid_container
      
      #cuelist      
        .cue-containers

        hr
        button#add-cue-button add cue


      .main
        .container
          video#instrument_video(controls)
            
          .button-group
            button.btn#btn-set-in Set In
            button.btn#btn-set-out Set Out
          
           
      .preview
        h1.title Hier komt de titel
        p
          button#tracker_back Back
          
      .cueeditor
        .playhead(style="left:600px;")
        .cues


        canvas#cue_canvas
          
// -----------------------------------------------------------------------------
// add remote javascript
script(src='/javascripts/remotes/videotracker/file1.js')
script(src='/javascripts/remotes/videotracker/mixer.js')
script(src='/javascripts/remotes/videotracker/tracker.js')
script(src='/javascripts/remotes/videotracker/instruments.js')
script(src='/javascripts/remotes/videotracker/cue_editor.js')
script(src='/javascripts/remotes/videotracker_remote.js')
include ../partials/analytics
